/* AUTH STYLE */

.auth-row {
    padding: 8px 10px;
    border: 2px solid gray;
    border-radius: 6px;
}

.auth-row input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 5px;
}

::placeholder {
    color: gray;
}

.dashboard {
    display: flex;
    padding: 30px;
    justify-content: space-between;
}

.profile {
    width: 30%;
    padding: 20px 35px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    margin-bottom: 20px;
}

.user-img {
    padding-bottom: 30px;
}

.user-img img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.vote-system {
    padding: 20px;
    width: 60%;
    background-color: lightblue;
}

.candidate-list {
    display: flex;
    padding: 13px 0px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.3px solid white;
}

.v-btn {
    color: white;
    background-color: green;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    padding: 7px 25px;
    border-radius: 6px;
}

@media screen and (max-width:900px) {
    .dashboard {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .profile {
        width: 90%;
        max-width: 500px;
    }

    .vote-system {
        width: 90%;
    }

    .user-img img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
}

@media screen and (max-width:600px) {
    .dashboard {
        padding: 20px 5px;
    }

    .vote-system {
        width: 98%;
    }

    .profile {
        width: 98%;
    }

    .user-img img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
}